/* Reset some default styles */
body, ul, li, h2, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #eac6c6;
}

header {
    background-color: #8e5353;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #333;
    color: #fff;
}

/* Style the biography section */
#biography {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#courses {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the courses table */
#courses table {
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

#courses th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

#courses td {
    border: 1px solid #ddd;
}

/* Style the experience section */
#experience {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#experience h3 {
    font-size: 18px;
    margin-top: 10px;
}

#experience p {
    margin-bottom: 10px;
}

#experience img {
    max-width: 400px;
    border-radius: 5px;
}

/* Style the contact section */
#contact {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact ul {
    list-style: none;
    padding: 0;
}

#contact li {
    margin-bottom: 10px;
}

#contact a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

#contact a:hover {
    color: #555;
}
